<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="@{~/framework/head.html}"></head>
<link th:href="@{~/layui/css/select.css}" rel="stylesheet">
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <!--头部-->
    <div th:include="@{~/framework/admin_head.html}"></div>
    <!--侧边导航栏-->
    <div th:include="@{~/framework/admin_sidebar.html}"></div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="padding:15px;">
            <h1 class="site-h1">信息 / 信息管理</h1>
            <div class="demoTable">
                搜索登录帐号：
                <div class="layui-inline">
                    <input class="layui-input" name="id" id="demoReload" autocomplete="off">
                </div>
                <button class="layui-btn" data-type="reload">搜索</button>
                <button class="layui-btn" onclick="window.location.href='/role/create'">添加</button>
            </div>
            <table id="teacherPage" class="layui-hide" lay-filter="teacher"></table>
        </div>
    </div>

    <!--尾部-->
    <div th:include="@{~/framework/foot.html}"></div>
</div>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="update">修改</a>
</script>

<script th:inline="none">
    //JavaScript代码区域
    layui.use(['element', 'table', 'form', 'laydate'], function(){
        var element = layui.element;
        var form = layui.form;
        var table = layui.table;
        var laydate = layui.laydate;
        table.render({
            elem: '#teacherPage'
            ,url: '/information/teacherPage' //数据接口
            ,page: true //开启分页
            ,where: {
                roleType: 1
            }
            ,cellMinWidth: 100
            ,text: {
                none: '暂无相关数据' //默认：无数据。注：该属性为 layui 2.2.5 开始新增
            }
            ,cols: [[ //表头
                {field: 'id', title: 'ID', sort: true}
                ,{field: 'loginName', title: '登录帐号'}
                ,{field: 'number', title: '工号'}
                ,{field: 'name', title: '姓名', sort: true}
                ,{field: 'sex', title: '性别'}
                ,{field: 'idCart', title: '身份证号'}
                ,{field: 'positionalTitles', title: '职称'}
                ,{field: 'nation', title: '民族'}
                ,{field: 'place', title: '籍贯'}
                ,{field: 'address', title: '地址'}
                ,{field: 'birthday', title: '出生日期'}
                ,{field: 'phone', title: '联系电话'}
                ,{field: 'department', title: '所属部门'}
                ,{field: 'classes', title: '执教班级'}
                ,{field: 'subject', title: '执教科目'}
                ,{field: 'createTime', title: '创建时间'}
                ,{field: 'right', title: '操作', align: 'center', toolbar: '#barDemo'}
            ]]
            ,id: 'Reload'
        });
        var $ = layui.$, active = {
            reload: function(){
                var demoReload = $('#demoReload');

                //执行重载
                table.reload('Reload', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    ,where: {
                        loginName: demoReload.val()
                    }
                });
            }
        };

        $('.demoTable .layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
        //监听工具条
       table.on('tool(teacher)', function(obj) {
           if(obj.event === 'update'){
               layer.open({
                   title: '修改'
                   ,content: $('#opens').html()
                   ,area: ['70%']
                   ,btn: ['提交','关闭']
                   ,success: function () {
                       laydate.render({
                           elem: '#birthday' //指定元素
                       });
                       $.ajax({
                           type: 'get',
                           url: '/information/classes',
                           success: function (classes) {
                               for (var i = 0; i < classes.classesName.length; i++) {
                                   var cla = obj.data.classes;
                                   var clas = cla.split(",");
                                   for (var j = 0; j < clas.length; j++) {
                                       if (clas[j] == classes.classesName[i]) {
                                           $("#classes").append("<option selected value='" + classes.classesName[i] + "'>" + classes.classesName[i] + "</option>");
                                       } else {
                                           $("#classes").append("<option value='" + classes.classesName[i] + "'>" + classes.classesName[i] + "</option>");
                                       }
                                   }
                               }
                               $("#numberdiv").html("工号格式：T-XXX，当前最大工号：" + classes.maxNumber);
                               renderForm();

                           }
                       });

                       // 表单重新渲染
                       function renderForm() {
                           layui.use('form', function () {
                               var form = layui.form;//高版本建议把括号去掉，有的低版本，需要加()
                               form.render();
                           });
                       }

                       $("#loginName").val(obj.data.loginName);
                       $("#number").val(obj.data.number);
                       $("#name").val(obj.data.name);
                       $("input[name='sex'][value = " + obj.data.sex + "]").attr("checked", true);
                       $("#idCart").val(obj.data.idCart);
                       $("#positionalTitles").val(obj.data.positionalTitles);
                       $("#nation").val(obj.data.nation);
                       $("#place").val(obj.data.place);
                       $("#address").val(obj.data.address);
                       $("#birthday").val(obj.data.birthday);
                       $("#phone").val(obj.data.phone)
                       var dep = obj.data.department;
                       var department = dep.split(",");
                       for (var i = 0; i < department.length; i++) {
                           $("#department").find("option[value=" + department[i] + "]").attr("selected", true);
                       }
                       $("#subject").val(obj.data.subject);
                   }
                   ,yes: function () {
                       $(".layui-btn").click();
                   }
               });
               form.on('submit(formDemo)', function (data) {
                   //            判断工号格式
                   var reg = new RegExp("^T-\\d{3}$");
                   if (!reg.test($("#number").val()) || $("#number").val() == '') {
                       alert('工号格式不正确，正确格式：T-XXX');
                       return false;
                   }
                   //判断姓名
                   var n = new RegExp("[\u4e00-\u9fa5]");
                   if (!n.test($("#name").val()) || $("#name").val() == '') {
                       alert('请检查教师姓名！');
                       return false;
                   }
                   //判断身份证
                   var i = new RegExp("^(\\d{6})(\\d{4})(\\d{2})(\\d{2})(\\d{3})([0-9]|X)$");
                   if (!i.test($("#idCart").val()) || $("#idCart").val() == '') {
                       alert('请检查教师身份证!');
                       return false;
                   }
                   //职称
                   if ($("#positionalTitles").val() == '') {
                       alert('请为教师选择职称！');
                       return false;
                   }
                   //民族
                   if ($("#nation").val() == '') {
                       alert('请为教师选择民族！');
                       return false;
                   }
                   //籍贯
                   if ($("#place").val() == '') {
                       alert('请为教师填写籍贯！');
                       return false;
                   }
                   //地址
                   if ($("#address").val() == '') {
                       alert('请为教师填写地址！');
                       return false;
                   }
                   if ($("#birthday").val() == '') {
                       alert('请为教师选择出生日期！');
                       return false;
                   }
                   //电话
                   var p = new RegExp("^1\\d{10}$");
                   if (!p.test($("#phone").val()) || $("#phone").val() == '') {
                       alert('请为教师填写联系电话！');
                       return false;
                   }

                   // 判断部门，班级，学科不为空
                   if ($("#classes").val() == null) {
                       alert('请为教师分配班级！');
                       return false;
                   }
                   if ($("#department").val() == null) {
                       alert('请为教师分配部门!');
                       return false;
                   }
                   if ($("#subject").val() == '') {
                       alert('请为教师选择学科！');
                       return false;
                   }
                   $.ajax({
                       type: 'post',
                       url: '/information/updateTeacher',
                       dataType: 'json',
                       contentType: 'application/json',
                       data: JSON.stringify(data.field),
                       success: function (CheckVO) {
                           if (CheckVO.status == 0) {
                               alert(CheckVO.message);
                               return false;
                           } else {
                               alert(CheckVO.message);
                               return false;
                           }
                           return false;
                       },
                       error: function (XMLHttpRequest) {
                           alert(XMLHttpRequest.responseJSON.message);
                       }
                   })
               })
           }
       });

    });

</script>
<script type="text/html" id="opens">
    <form id="f" class="layui-form" action="">
        <div class="layui-form-item">
            <div class="layui-input-inline">
                <input type="text" id="roleType" name="roleType" autocomplete="off" class="layui-input" value="教师" style="display: none">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">登录帐号</label>
            <div class="layui-input-inline">
                <input type="text" id="loginName" name="loginName" disabled placeholder="请输入登录帐号..." autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">登录帐号不可修改</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">工号</label>
            <div class="layui-input-inline">
                <input type="text" id="number" name="number" placeholder="请输入工号..." autocomplete="off" class="layui-input">
            </div>
            <div id="numberdiv" class="layui-form-mid layui-word-aux"></div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">姓名</label>
            <div class="layui-input-inline">
                <input type="text" id="name" name="name" placeholder="请输入教师姓名..." autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">请填写教师姓名</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">性别</label>
            <div class="layui-input-block">
                <input type="radio" name="sex" value="男" title="男">
                <input type="radio" name="sex" value="女" title="女">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">身份证号</label>
            <div class="layui-input-inline">
                <input type="text" id="idCart" name="idCart" placeholder="请输入身份证号..." autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">请填写教师身份证号</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">职称</label>
            <div class="layui-input-inline">
                <select id="positionalTitles" name="positionalTitles">
                    <option value="">请选择职称</option>
                    <option value="中学正高级教师">中学正高级教师</option>
                    <option value="中学高级教师">中学高级教师</option>
                    <option value="中学一级教师">中学一级教师</option>
                    <option value="中学二级教师">中学二级教师</option>
                    <option value="中学三级教师">中学三级教师</option>
                </select>
            </div>
            <div class="layui-form-mid layui-word-aux">请选择教师职称</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">民族</label>
            <div class="layui-input-inline">
                <select id="nation" name="nation" lay-search>
                    <option value="">请选择民族</option>
                    <option value="汉族">汉族</option>
                    <option value="满族">满族</option>
                    <option value="藏族">藏族</option>
                    <option value="蒙古族">蒙古族</option>
                    <option value="维吾尔族">维吾尔族</option>
                    <option value="壮族">壮族</option>
                    <option value="回族">回族</option>
                    <option value="苗族">苗族</option>
                    <option value="彝族">彝族</option>
                    <option value="土家族">土家族</option>
                    <option value="侗族">侗族</option>
                    <option value="布依族">布依族</option>
                    <option value="瑶族">瑶族</option>
                    <option value="白族">白族</option>
                    <option value="朝鲜族">朝鲜族</option>
                </select>
            </div>
            <div class="layui-form-mid layui-word-aux">请选择教师民族</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">籍贯</label>
            <div class="layui-input-inline">
                <input type="text" id="place" name="place" placeholder="请输入籍贯..." autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">请填写教师籍贯</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">地址</label>
            <div class="layui-input-inline" style="width: 500px;">
                <input type="text" id="address" name="address" placeholder="请输入地址..." autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">请填写教师地址</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">出生日期</label>
            <div class="layui-input-inline">
                <input type="text"  id="birthday" name="birthday" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">请选择教师出生日期</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">联系电话</label>
            <div class="layui-input-inline">
                <input type="text" id="phone" name="phone" placeholder="请输入联系电话..." autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">请填写教师联系电话</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">部门</label>
            <div class="layui-input-inline">
                <select id="department" name="department" multiple>
                    <option value="">请选择部门</option>
                    <option value="学生处">学生处</option>
                    <option value="教研组">教研组</option>
                </select>
            </div>
            <div class="layui-form-mid layui-word-aux">请选择教师部门</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">班级</label>
            <div class="layui-input-inline">
                <select id="classes" name="classes" multiple lay-search>
                    <option value="">请选择班级</option>
                </select>
            </div>
            <div class="layui-form-mid layui-word-aux">请选择教师执教的班级</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">学科</label>
            <div class="layui-input-inline">
                <select id="subject" name="subject" lay-search>
                    <option value="">请选择学科</option>
                    <option value="语文">语文</option>
                    <option value="数学">数学</option>
                    <option value="英语">英语</option>
                    <option value="物理">物理</option>
                    <option value="化学">化学</option>
                    <option value="生物">生物</option>
                    <option value="政治">政治</option>
                    <option value="地理">地理</option>
                    <option value="历史">历史</option>
                </select>
            </div>
            <div class="layui-form-mid layui-word-aux">请选择教师执教的学科</div>
        </div>
        <hr>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" style="display: none" lay-submit lay-filter="formDemo">立即提交</button>
            </div>
        </div>
    </form>
</script>
</body>
</html>