<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="@{~/framework/head.html}"></head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <!--头部-->
    <div th:include="@{~/framework/admin_head.html}"></div>
    <!--侧边导航栏-->
    <div th:include="@{~/framework/admin_sidebar.html}"></div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="padding:15px;">
            <div style="padding:15px;">
                <h1 class="site-h1">系统 / 菜单管理</h1>
                <div class="demoTable">
                    搜索菜单ID：
                    <div class="layui-inline">
                        <input class="layui-input" name="id" id="demoReload" autocomplete="off">
                    </div>
                    <button class="layui-btn" data-type="reload">搜索</button>
                    <button class="layui-btn" onclick="window.location.href='/system/createMenu'"><i class="layui-icon">&#xe608;</i>添加</button>
                </div>
                <table id="menu" class="layui-hide" lay-filter="menu"></table>
            </div>
        </div>
    </div>

    <!--尾部-->
    <div th:include="@{~/framework/foot.html}"></div>
</div>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="update"><i class="layui-icon">&#xe642;</i>修改</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="delete"><i class="layui-icon">&#xe640;</i>删除</a>
</script>
<script th:inline="none">
    //JavaScript代码区域
    layui.use(['element', 'form', 'table'], function(){
        var element = layui.element;
        var table = layui.table;
        var form = layui.form;
        layui.use('table', function() {
            var table = layui.table;
            table.render({
                elem: '#menu'
                , url: '/system/menuList' //数据接口
                , page: true //开启分页
                ,cellMinWidth: 150
                , text: {
                    none: '暂无相关数据' //默认：无数据。注：该属性为 layui 2.2.5 开始新增
                }
                , cols: [[ //表头
                    {field: 'id', title: 'ID', sort: true}
                    , {field: 'name', title: '菜单名称'}
                    , {field: 'modular', title: '菜单模块'}
                    , {field: 'teacherDisplay1', title: '学生处教师可见', templet: '#teacherDisplayTpl1'}
                    , {field: 'teacherDisplay2', title: '教研组教师可见', templet: '#teacherDisplayTpl2'}
                    , {field: 'studentDisplay', title: '学生可见', templet: '#studentDisplayTpl'}
                    , {field: 'url', title: 'URL'}
                    , {field: 'createName', title: '创建人登录帐号'}
                    , {field: 'createTime', title: '创建时间', sort: true}
                    , {fixed: 'right', title: '操作', align: 'center', toolbar: '#barDemo'}
                ]]
                , id: 'Reload'
            });
            var $ = layui.$, active = {
                reload: function () {
                    var demoReload = $('#demoReload');

                    //执行重载
                    table.reload('Reload', {
                        page: {
                            curr: 1 //重新从第 1 页开始
                        }
                        , where: {
                            id: demoReload.val()
                        }
                    });
                }
            }
            $('.demoTable .layui-btn').on('click', function(){
                var type = $(this).data('type');
                active[type] ? active[type].call(this) : '';
            });
        });

        table.on('tool(menu)', function(obj) {
            var data = obj.data;
            if (obj.event === 'update'){
                layer.open({
                    title: '修改'
                    ,content: $('#updateMenu').html()
                    ,area: ['50%']
                    ,btn: ['提交','关闭']
                    ,success: function () {
                        // 表单重新渲染
                        function renderForm() {
                            layui.use('form', function () {
                                var form = layui.form;//高版本建议把括号去掉，有的低版本，需要加()
                                form.render();
                            });
                        }
                        $("#id").val(data.id);
                        $("#name").val(data.name);
                        $("#modular").val(data.modular);
                        $("input[name='teacherDisplay1'][value = " + data.teacherDisplay1 + "]").attr("checked", true);
                        $("input[name='teacherDisplay2'][value = " + data.teacherDisplay2 + "]").attr("checked", true);
                        $("input[name='studentDisplay'][value = '" + data.studentDisplay + "']").attr("checked", true);
                        $("#url").val(data.url);
                        renderForm();
                    }
                    ,yes: function () {
                        //判断菜单名称
                        if ($("#name").val() == '') {
                            alert('菜单名称不能为空');
                            return false;
                        }
                        //模块
                        if ($("#modular").val() == '') {
                            alert('请为教师选择民族！');
                            return false;
                        }
                        //URL
                        if ($("#url").val() == '') {
                            alert('URL不能为空！');
                            return false;
                        }
                        var formObject = {};
                        var formArray =$("#form").serializeArray();
                        $.each(formArray,function(i,item){
                            formObject[item.name] = item.value;
                        });
                        $.ajax({
                            type: 'post',
                            url: '/system/updateMenu',
                            dataType: 'json',
                            contentType: 'application/json',
                            data: JSON.stringify(formObject),
                            success: function (CheckVO) {
                                if (CheckVO.status == 0) {
                                    layer.alert(CheckVO.message, {icon: 1},function () {
                                        window.parent.location.reload();
                                        parent.layer.close(index);
                                    });
                                } else {
                                    layer.alert(CheckVO.message, {icon: 2});
                                }
                            },
                            error: function (XMLHttpRequest) {
                                layer.alert(XMLHttpRequest.responseJSON.message, {icon: 2});
                            }
                        })
                    }
                });
            }
            if (obj.event === 'delete') {
                layer.confirm('确定删除菜单“' + data.name + "”吗？", function (index) {
                    $.ajax({
                        type: 'post',
                        url: '/system/deleteMenu',
                        data: {
                            id: data.id
                        },
                        success: function (CheckVO) {
                            if (CheckVO.status == 0) {
                                layer.alert(CheckVO.message, {icon: 1}, function () {
                                    window.parent.location.reload();
                                    parent.layer.close(index);
                                });
                            } else {
                                layer.alert(CheckVO.message, {icon: 2});
                            }
                        },
                        error: function (XMLHttpRequest) {
                            layer.alert(XMLHttpRequest.responseJSON.message, {icon: 2});
                        }
                    });
                })
            }
        })

    });
</script>
<script type="text/html" id="teacherDisplayTpl1">
    {{# if (d.teacherDisplay1 == 0){ }}
            否
    {{#  }  }}
    {{# if (d.teacherDisplay1 == 1){ }}
            是
    {{#  }  }}
</script>
<script type="text/html" id="teacherDisplayTpl2">
    {{# if (d.teacherDisplay2 == 0){ }}
    否
    {{#  }  }}
    {{# if (d.teacherDisplay2 == 1){ }}
    是
    {{#  }  }}
</script>
<script type="text/html" id="studentDisplayTpl">
    {{# if (d.studentDisplay == 0){ }}
            否
    {{#  }  }}
    {{# if (d.studentDisplay == 1){ }}
            是
    {{#  }  }}
</script>
<script type="text/html" id="updateMenu">
    <form id="form" class="layui-form" action="">
        <fieldset class="layui-elem-field">
            <legend>
                <a>菜单信息</a>
            </legend>
            <div class="layui-form-item">
                <label class="layui-form-label">菜单id</label>
                <div class="layui-input-inline">
                    <input type="text" id="id" name="id" required  lay-verify="required" readonly placeholder="" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">菜单id不可修改</div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">菜单名称</label>
                <div class="layui-input-inline">
                    <input type="text" id="name" name="name" required  lay-verify="required" placeholder="请输入菜单名称..." autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">请填写菜单名称</div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">菜单模块</label>
                <div class="layui-input-inline">
                    <select id="modular" name="modular" lay-verify="required" lay-search>
                        <option value="">请选择菜单模块</option>
                        <option value="角色" selected>角色</option>
                        <option value="信息">信息</option>
                        <option value="成绩">成绩</option>
                        <option value="系统">系统</option>
                    </select>
                </div>
                <div class="layui-form-mid layui-word-aux">请选择菜单属于的模块</div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">学生处教师可见</label>
                <div class="layui-input-block">
                    <input type="radio" name="teacherDisplay1" value="1" title="是">
                    <input type="radio" name="teacherDisplay1" value="0" title="否">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">教研组教师可见</label>
                <div class="layui-input-block">
                    <input type="radio" name="teacherDisplay2" value="1" title="是">
                    <input type="radio" name="teacherDisplay2" value="0" title="否">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">学生可见</label>
                <div class="layui-input-block">
                    <input type="radio" name="studentDisplay" value="1" title="是">
                    <input type="radio" name="studentDisplay" value="0" title="否">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">URL</label>
                <div class="layui-input-inline">
                    <input type="text" id="url" name="url" required  lay-verify="required" placeholder="请输入菜单访问路径..." autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">请填写菜单的访问路径,请以“ / ”开头</div>
            </div>
        </fieldset>
        <hr>
    </form>
</script>
</body>
</html>