<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:include="@{~/framework/head.html}"></head>
<link th:href="@{~/css/signin.css}" rel="stylesheet" type="text/css">
<body>
<!-- 头部导航栏 -->
<div th:include="@{~/framework/admin_head.html}"></div>
<!-- 内容自定义区 -->

<div class="col-md-12 column" style="padding-top:50px">
    <div class="col-md-3 column"></div>
    <div class="container col-md-6 column">
        <div class="row text-primary">
            <label><h4>角色 / 密码修改</h4></label>
        </div>
        <div class="form-signin">
            <form>
                <div class="form-group">
                    <label for="originalPassword">请输入原密码：</label>
                    <input type="password" class="form-control" id="originalPassword" placeholder="请输入原始密码...">
                </div>
                <div class="form-group">
                    <label for="newPassword">请输入新密码：</label>
                    <input type="password" class="form-control" id="newPassword" placeholder="请输入新密码...">
                </div>
                <div class="form-group">
                    <label for="newPassword1">请再次输入新密码：</label>
                    <input type="password" class="form-control" id="newPassword1" placeholder="请再次输入新密码...">
                </div>
                <button type="button" id="button" class="btn btn-lg btn-primary btn-default">确定</button>
                <button type="button" class="btn btn-lg btn-primary btn-default">返回</button>
            </form>
        </div>
    </div>
    <div class="col-md-3 column"></div>
</div>

<!--尾部-->
<div th:include="@{~/framework/foot.html}"></div>
<script>

    $("#button").click(function () {
        var originalPassword = $("#originalPassword").val();
        var newPassword = $("#newPassword").val();
        var newPassword1 = $("#newPassword1").val();
        if (originalPassword==""||newPassword == ""||newPassword1 == ""){
            alert("密码不能为空");
            return false;
        }
        if (newPassword != newPassword1){
            alert("两次输入的新密码不同,请检查后输入");
            return false;
        }
        var data= {
            originalPassword:originalPassword,
            newPassword:newPassword
        }
        $.ajax({
            type: 'post',
            url: '/role/updatePassword',
            data: data,
            success:function (RoleCheckVO) {
                if (RoleCheckVO.status == 0){
                    alert("修改成功，请重新登录!");
                    window.location.href = "/role/logout";
//                    return false;
                }
                if (RoleCheckVO.status == 1){
                    alert("修改失败，原因：" + RoleCheckVO.message);
//                    return false;
                }
            },
            error:function () {
                alert("修改失败，服务器异常请稍后再试！");
            }
        });
    })
</script>
</body>
</html>