<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="@{~/framework/head.html}"></head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">

    <!--头部-->
    <div th:include="@{~/framework/admin_head.html}"></div>

    <!--侧边导航栏-->
    <div th:include="@{~/framework/admin_sidebar.html}"></div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="padding:15px;">
            <h1 class="site-h1">角色 / 修改密码</h1>
            <form class="layui-form" action="">
                <div class="layui-form-item">
                    <label class="layui-form-label">原密码</label>
                    <div class="layui-input-inline">
                        <input type="password" id="originalPassword" required lay-verify="required" placeholder="请输入原密码..." autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-form-mid layui-word-aux">请输入原密码</div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">新密码</label>
                    <div class="layui-input-inline">
                        <input type="password" id="newPassword" required lay-verify="required" placeholder="请输入新密码..." autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-form-mid layui-word-aux">请输入新密码</div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">新密码</label>
                    <div class="layui-input-inline">
                        <input type="password" id="newPassword1" required lay-verify="required" placeholder="请再次输入新密码..." autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-form-mid layui-word-aux">请再次输入原密码</div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!--尾部-->
    <div th:include="@{~/framework/foot.html}"></div>
</div>
<script>
    //JavaScript代码区域
    layui.use('element', function(){
        var element = layui.element;

    });
    layui.use('form', function(){
        var form = layui.form;

        //监听提交
        form.on('submit(formDemo)', function(data){
            var originalPassword = $("#originalPassword").val();
            var newPassword = $("#newPassword").val();
            var newPassword1 = $("#newPassword1").val();
            if (newPassword != newPassword1){
                layer.open({
                    title: '提示'
                    ,content: '两次输入的新密码不一致，请重新输入!'
                });
                return false;
            }
            var data= {
                originalPassword:originalPassword,
                newPassword:newPassword
            }
            $.ajax({
                type: 'post',
                url: '/role/updatePassword',
                data: data,
                success:function (RoleCheckVO) {
                    if (RoleCheckVO.status == 0){
                        layer.alert('修改成功，请重新登录!', {icon: 1},function () {
                            window.location.href = "/role/logout";
                        });
                    }
                    if (RoleCheckVO.status == 1){
                        layer.alert('修改失败，原因：' + RoleCheckVO.message, {icon: 2});
                    }
                },
                error: function (XMLHttpRequest) {
                    layer.alert(XMLHttpRequest.responseJSON.message, {icon: 2},function () {
                        if (XMLHttpRequest.responseJSON.message == '越权操作,请重新登录'){
                            location.href = '/role/logout';
                        }
                        var index = layer.alert();
                        layer.close(index);
                    });
                }
            });
            return false;
        });
    });
</script>
</body>
</html>