<div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
        <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
        <ul class="layui-nav layui-nav-tree"  lay-filter="test">
            <li class="layui-nav-item">
                <a href="javascript:;">角色</a>
                <dl class="layui-nav-child">
                    <dd><a href="/role/roleList">角色管理</a></dd>
                    <dd><a href="/role/password">密码修改</a></dd>
                    <dd><a href="/role/create">创建教师角色</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a class="" href="javascript:;">信息</a>
                <dl class="layui-nav-child">
                    <dd><a href="/information/teacherList">信息管理</a></dd>
                    <dd><a href="/information/classInformation">班级管理</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;">系统</a>
                <dl class="layui-nav-child">
                    <dd><a href="/system/menu">菜单管理</a></dd>
                    <dd><a href="/system/record">查看修改记录</a></dd>
                    <dd><a href="/system/aboutSystem">关于系统</a></dd>
                </dl>
            </li>
        </ul>
    </div>
</div>