<meta charset="UTF-8">
<title>学生信息管理系统</title>
<link th:href="@{~/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
<style type="text/css">
    html {
        position: relative;
        min-height: 100%;
    }
    body {
        /* Margin bottom by footer height */
        padding: 50px;
        margin-bottom: 60px;
    }
    .footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        /* Set the fixed height of the footer here */
        background-color: #f5f5f5;
        text-align: center;
    }
</style>