<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:include="@{~/framework/head.html}"></head>
<link th:href="@{~/css/signin.css}" rel="stylesheet" type="text/css">
<body>
<div class="container">
    <div class="form-signin">
        <h2 class="form-signin-heading" style="text-align: center">欢迎进入</h2>
        <h2 class="form-signin-heading" style="text-align: center">学生信息管理系统</h2>
        <input type="text" id="inputLoginName" class="form-control" placeholder="请输入登录名..." required autofocus>
        <input type="password" id="inputLoginPassword" class="form-control" placeholder="请输入密码..." required>
        <button class="btn btn-lg btn-primary btn-block" type="button" onclick="check()">登录</button>
    </div>
</div>
<!--尾部-->
<footer class="footer" th:include="@{~/framework/foot.html}"></footer>

</body>
<script th:src="@{~/js/jquery.min.js}"></script>
<script>
    function check() {
        var loginName = $("#inputLoginName").val();
        $.ajax({
            type: 'post',
            url: '/role/checkLogin',
            data: {
                loginName:$("#inputLoginName").val(),
                loginPassword:$("#inputLoginPassword").val()
            },
            success:function (loginDTO) {
                if (loginDTO.status == 0){
                    document.cookie="loginName="+loginName+";path=/";
                    window.location.href = "/?loginName=" + loginName;
                }else {
                    alert(loginDTO.message);
                }
            },
            error:function () {
                alert("系统错误，请稍后重试！")
                return false;
            }
        })
    }

</script>
</html>
