<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="@{~/framework/head.html}"></head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <!--头部-->
    <div th:include="@{~/framework/role_head.html}"></div>
    <!--侧边导航栏-->
    <div th:include="@{~/framework/role_sidebar.html}"></div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="padding:15px;">
            <h1 class="site-h1">成绩 / 我的学生成绩</h1>
            <div class="demoTable">
                搜索学号：
                <div class="layui-inline">
                    <input class="layui-input" name="number" id="demoReload" autocomplete="off">
                </div>
                <button class="layui-btn" data-type="reload">搜索</button>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <button class="layui-btn" onclick="window.location.href='/achievement/addAchievement'"><i class="layui-icon">&#xe608;</i>录入学生成绩</button>
            </div>
            <table id="achievementPage" class="layui-hide" lay-filter="achievement"></table>
        </div>
    </div>

    <!--尾部-->
    <div th:include="@{~/framework/foot.html}"></div>
</div>
<script th:inline="none">
    //JavaScript代码区域
    layui.use(['element', 'table'], function(){
        var element = layui.element;
        var table = layui.table;
        table.render({
            elem: '#achievementPage'
            ,url: '/achievement/myStudentAchievementList' //数据接口
            ,page: true //开启分页
            ,cellMinWidth: 100
            ,text: {
                none: '暂无相关数据' //默认：无数据。注：该属性为 layui 2.2.5 开始新增
            }
            ,cols: [[ //表头
                {field: 'number', title: '学号', sort: true}
                ,{field: 'studentName', title: '姓名'}
                ,{field: 'classes', title: '班级'}
                ,{field: 'subject', title: '学科'}
                ,{field: 'teacherName', title: '教师'}
                ,{field: 'year', title: '学年'}
                ,{field: 'mouth', title: '月'}
                ,{field: 'num', title: '次数'}
                ,{field: 'score', title: '分数',edit: 'text', sort: true}
                ,{field: 'createTime', title: '创建时间', sort: true}
            ]]
            ,id: 'Reload'
        });
        var $ = layui.$, active = {
            reload: function(){
                var demoReload = $('#demoReload');

                //执行重载
                table.reload('Reload', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    ,where: {
                        number: demoReload.val()
                    }
                });
            }
        };
        $('.demoTable .layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

        table.on('edit(achievement)', function(obj){
            $.ajax({
                type: 'post',
                url: '/achievement/achievementManage',
                data: {
                    sInformationId: obj.data.id,
                    year: obj.data.year,
                    mouth: obj.data.mouth,
                    num: obj.data.num,
                    score: obj.value,
                    type: 1
                },
                success: function (CheckVO) {
                    if (CheckVO.status == 0) {
                        layer.alert(CheckVO.message, {icon: 1},function () {
                            layer.close(layer.alert());
                        });
                    } else {
                        layer.alert(CheckVO.message, {icon: 2});
                    }
                },
                error: function (XMLHttpRequest) {
                    layer.alert(XMLHttpRequest.responseJSON.message, {icon: 2},function () {
                        if (XMLHttpRequest.responseJSON.message == '越权操作,请重新登录'){
                            location.href = '/role/logout';
                        }
                        var index = layer.alert();
                        layer.close(index);
                    });
                }
            });
        });
    });
</script>
</body>
</html>