<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ycm.sims.dao.AchievementDao">

    <insert id="insertAchievement">
        INSERT INTO
          achievement(s_information_id, t_information_id, classes, year, mouth, num, subject, score, status, create_id)
         VALUES (#{sInformationId}, #{tInformationId}, #{classes}, #{year}, #{mouth}, #{num}, #{subject}, #{score}, #{status}, #{createId})
    </insert>

    <select id="findAchievement" resultType="org.ycm.sims.pojo.AchievementPojo">
        SELECT s.number, s.name student_name, s.classes, t.subject, t.name teacher_name, a.year, a.mouth, a.num, a.score, s.create_time
        FROM achievement a, student_information s,teacher_information t
        WHERE a.s_information_id = s.id AND a.t_information_id = t.id
        ORDER BY a.year DESC, a.mouth, a.num
    </select>


</mapper>