<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ycm.sims.dao.InformationDao">

    <resultMap id="teacherInformationList" type="org.ycm.sims.entity.TeacherInformation">
        <id column="id" property="id" />
        <result column="login_name" property="loginName" />
        <result column="number" property="number" />
        <result column="name" property="name" />
        <result column="sex" property="sex" />
        <result column="id_cart" property="idCart" />
        <result column="positional_titles" property="positionalTitles" />
        <result column="nation" property="nation" />
        <result column="place" property="place" />
        <result column="address" property="address" />
        <result column="birthday" property="birthday" />
        <result column="phone" property="phone" />
        <result column="department" property="department" />
        <result column="classes" property="classes"/>
        <result column="subject" property="subject"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <resultMap id="classList" type="org.ycm.sims.entity.Classes">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <insert id="createInformation">
        INSERT INTO
          teacher_information
            (login_name, number, name, sex, id_cart, positional_titles, nation, place, address, birthday, phone, department, classes, subject)
          VALUES
            (#{loginName}, #{number}, #{name}, #{sex}, #{idCart}, #{positionalTitles}, #{nation}, #{place}, #{address}, #{birthday}, #{phone}, #{department}, #{classes}, #{subject})
    </insert>
    <delete id="deleteClass">
        DELETE FROM classes WHERE name = #{name}
    </delete>

    <select id="findClasses" resultMap="classList">
        SELECT * FROM classes
         <if test="name != null and name != ''">
             WHERE name = #{name}
         </if>
         order by name
    </select>

    <update id="updateClass">
        UPDATE classes SET name = #{name} WHERE id = #{id}
    </update>

    <insert id="createClass">
        INSERT INTO classes(name, create_id) values (#{name}, #{createId})
    </insert>
    <insert id="createStudentInformation">
        INSERT INTO
          student_information
            (login_name, number, name, sex, id_cart, nation, place, address, birthday, phone, classes, enrolment_time)
          VALUES
            (#{loginName}, #{number}, #{name}, #{sex}, #{idCart}, #{nation}, #{place}, #{address}, #{birthday}, #{phone}, #{classes}, #{enrolmentTime})
    </insert>

    <select id="findNumberMax" resultType="java.lang.String">
        select MAX(number) number from teacher_information;
    </select>

    <select id="findByInformation" resultType="org.ycm.sims.entity.TeacherInformation">
        SELECT * FROM teacher_information
          <where>
              <if test="loginName != null and loginName != ''">
                  login_name = #{loginName}
              </if>
              <if test="id != null and id != ''">
                  AND id = #{id}
              </if>
          </where>
    </select>

    <select id="findInformationLoginName" resultType="java.lang.Integer">
        SELECT COUNT(login_name) FROM teacher_information WHERE login_name = #{loginName}
    </select>
    <select id="findInformationNumber" resultType="java.lang.Integer">
        SELECT COUNT(number) FROM teacher_information WHERE number = #{number}
    </select>
    <select id="informationList" resultMap="teacherInformationList">
        SELECT * FROM teacher_information
          WHERE login_name IN(
        SELECT login_name FROM role WHERE role_type = #{roleType} AND role_status = 0
        <if test="loginName != null and loginName != ''">
            AND login_name = #{loginName}
        </if>
        )
    </select>
    <select id="teacherInformationCount" resultType="java.lang.Integer">
        SELECT count(*) FROM teacher_information
        <if test="loginName != null and loginName != ''">
            WHERE login_name = #{loginName}
        </if>
    </select>

    <update id="updateTeacherInformation">
        UPDATE teacher_information
        <trim prefix="set" suffixOverrides=",">
              <if test="number != null and number != ''">number = #{number},</if>
              <if test="name != null and name != ''">name = #{name},</if>
              <if test="sex != null and sex != ''">sex = #{sex},</if>
              <if test="idCart != null and idCart != ''">id_cart = #{idCart},</if>
              <if test="positionalTitles != null and positionalTitles != ''">positional_titles = #{positionalTitles},</if>
              <if test="nation != null and nation != ''">nation = #{nation},</if>
              <if test="place != null and place != ''">place = #{place},</if>
              <if test="address != null and address != ''">address = #{address},</if>
              <if test="birthday != null and birthday != ''">birthday = #{birthday},</if>
              <if test="phone != null and phone != ''">phone = #{phone},</if>
              <if test="department != null and department != ''">department = #{department},</if>
              <if test="classes != null and classes != ''">classes = #{classes},</if>
              <if test="subject != null and subject != ''">subject = #{subject},</if>
        </trim>
        WHERE login_name = #{loginName}
    </update>

    <update id="updateTeacherClasses">
        UPDATE teacher_information SET classes = #{classes} WHERE id = #{id}
    </update>
    <update id="updateStudentInformation">
        UPDATE student_information
        <trim prefix="set" suffixOverrides=",">
            <if test="number != null and number != ''">number = #{number},</if>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="sex != null and sex != ''">sex = #{sex},</if>
            <if test="idCart != null and idCart != ''">id_cart = #{idCart},</if>
            <if test="nation != null and nation != ''">nation = #{nation},</if>
            <if test="place != null and place != ''">place = #{place},</if>
            <if test="address != null and address != ''">address = #{address},</if>
            <if test="birthday != null and birthday != ''">birthday = #{birthday},</if>
            <if test="phone != null and phone != ''">phone = #{phone},</if>
            <if test="classes != null and classes != ''">classes = #{classes},</if>
            <if test="enrolmentTime != null and enrolmentTime != ''">enrolment_time = #{enrolmentTime},</if>
        </trim>
        WHERE login_name = #{loginName}
    </update>

    <select id="findTeacherDepartment" resultType="java.lang.Integer">
        SELECT count(*) FROM teacher_information WHERE login_name = #{loginName} and department LIKE CONCAT(CONCAT('%',#{department},'%'))
    </select>

    <select id="findClassByName" resultType="java.lang.Integer">
        select count(*) from classes where name = #{name}
    </select>

    <select id="findClassCount" resultType="java.lang.Integer">
        select count(*) from classes
        <if test="name != null and name != ''">
            WHERE name = #{name}
        </if>
    </select>

    <select id="findClassTeacher" resultType="java.util.Map">
        SELECT classes,name,subject FROM teacher_information
          WHERE classes LIKE CONCAT(CONCAT('%',#{classes},'%'))
          AND login_name IN
            (SELECT login_name FROM role WHERE role_status = 0)
          ORDER BY FIELD(
           subject, '语文', '数学', '英语', '物理', '化学', '生物', '政治', '地理', '历史')
    </select>
    <select id="findClassStuCount" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM student_information WHERE classes = #{classes}
    </select>
    <select id="findClassById" resultType="java.lang.String">
        SELECT name FROM classes WHERE id = #{id}
    </select>
    <select id="findTeacherInformationByClasses" resultType="org.ycm.sims.entity.TeacherInformation">
        SELECT id, classes FROM teacher_information WHERE classes LIKE CONCAT(CONCAT('%',#{classes},'%'))
    </select>
    <select id="findClassIdByName" resultType="java.lang.Integer">
        select id from classes where name = #{name}
    </select>
    <select id="findStudentNumberMax" resultType="java.lang.String">
        select MAX(number) number from student_information
    </select>
    <select id="findStudentNumber" resultType="java.lang.Integer">
        SELECT COUNT(number) FROM student_information WHERE number = #{number}
    </select>
    <select id="studentInformationCount" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM student_information
        <if test="loginName != null and loginName != ''">
            WHERE login_name = #{loginName}
        </if>
    </select>

    <resultMap id="studentInformationList" type="org.ycm.sims.entity.StudentInformation">
        <id column="id" property="id" />
        <result column="login_name" property="loginName" />
        <result column="number" property="number" />
        <result column="name" property="name" />
        <result column="sex" property="sex" />
        <result column="id_cart" property="idCart" />
        <result column="nation" property="nation" />
        <result column="place" property="place" />
        <result column="address" property="address" />
        <result column="birthday" property="birthday" />
        <result column="phone" property="phone" />
        <result column="classes" property="classes"/>
        <result column="enrolment_time" property="enrolmentTime"/>
        <result column="create_time" property="createTime"/>
    </resultMap>
    <select id="studentList" resultMap="studentInformationList">
        SELECT * FROM student_information
        WHERE login_name IN(
        SELECT login_name FROM role WHERE role_type = #{roleType} AND role_status = 0
        <if test="loginName != null and loginName != ''">
            AND login_name = #{loginName}
        </if>
        )
    </select>
    <select id="findStudentInformation" resultType="org.ycm.sims.entity.StudentInformation">
        SELECT * FROM student_information WHERE login_name = #{loginName}
    </select>
    <select id="findTeaClassCount" resultType="org.ycm.sims.entity.Classes">
        select * from classes WHERE name IN (SELECT SUBSTRING_INDEX(SUBSTRING_INDEX(t.classes,',',b.help_topic_id+1),',',-1)
          FROM teacher_information t
          JOIN
        mysql.help_topic b
          on b.help_topic_id &lt; (LENGTH(t.classes)-LENGTH(REPLACE(t.classes,',',''))+1)
        WHERE login_name = #{loginName} ORDER BY t.name)
        <if test="name != null and name != ''">
            AND name = #{name}
        </if>
    </select>

</mapper>