<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ycm.sims.dao.InformationDao">

    <resultMap id="teacherInformationList" type="org.ycm.sims.entity.TeacherInformation">
        <id column="id" property="id" />
        <result column="login_name" property="loginName" />
        <result column="number" property="number" />
        <result column="name" property="name" />
        <result column="sex" property="sex" />
        <result column="id_cart" property="idCart" />
        <result column="positional_titles" property="positionalTitles" />
        <result column="nation" property="nation" />
        <result column="place" property="place" />
        <result column="address" property="address" />
        <result column="birthday" property="birthday" />
        <result column="phone" property="phone" />
        <result column="department" property="department" />
        <result column="classes" property="classes"/>
        <result column="subject" property="subject"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <insert id="createInformation">
        INSERT INTO
          teacher_information
            (login_name, number, name, sex, id_cart, positional_titles, nation, place, address, birthday, phone, department, classes, subject)
          VALUES
            (#{loginName}, #{number}, #{name}, #{sex}, #{idCart}, #{positionalTitles}, #{nation}, #{place}, #{address}, #{birthday}, #{phone}, #{department}, #{classes}, #{subject})
    </insert>

    <select id="findClasses" resultType="java.lang.String">
        SELECT name FROM classes;
    </select>

    <select id="findNumberMax" resultType="java.lang.String">
        select MAX(number) number from teacher_information;
    </select>

    <select id="findByInformation" resultType="org.ycm.sims.entity.TeacherInformation">
        SELECT * form teacher_information where login_name = #{loginName};
    </select>

    <select id="findInformationLoginName" resultType="java.lang.Integer">
        SELECT COUNT(login_name) FROM teacher_information WHERE login_name = #{loginName}
    </select>
    <select id="findInformationNumber" resultType="java.lang.Integer">
        SELECT COUNT(number) FROM teacher_information WHERE number = #{number}
    </select>
    <select id="teacherInformationList" resultMap="teacherInformationList">
        SELECT * FROM teacher_information
        <if test="loginName != null and loginName != ''">
            WHERE login_name = #{loginName}
        </if>
    </select>
    <select id="teacherInformationCount" resultType="java.lang.Integer">
        SELECT count(*) FROM teacher_information
        <if test="loginName != null and loginName != ''">
            WHERE login_name = #{loginName}
        </if>
    </select>

    <update id="updateTeacherInformation">
        UPDATE teacher_information
          <set>
              <if test="number != null and number != ''">number = #{number}</if>
              <if test="name != null and name != ''">name = #{name}</if>
              <if test="sex != null and sex != ''">sex = #{sex}</if>
              <if test="idCart != null and idCart != ''">id_cart = #{idCart}</if>
              <if test="positionalTitles != null and positionalTitles != ''">positional_titles = #{positionalTitles}</if>
              <if test="nation != null and nation != ''">nation = #{nation}</if>
              <if test="place != null and place != ''">place = #{place}</if>
              <if test="address != null and address != ''">address = #{address}</if>
              <if test="birthday != null and birthday != ''">birthday = #{birthday}</if>
              <if test="phone != null and phone != ''">phone = #{phone}</if>
              <if test="department != null and department != ''">department = #{department}</if>
              <if test="classes != null and classes != ''">classes = #{classes}</if>
              <if test="subject != null and subject != ''">subject = #{subject}</if>
          </set>
        WHERE login_name = #{loginName}
    </update>

</mapper>