<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ycm.sims.dao.RoleDao">

    <select id="findRoleById" resultType="org.ycm.sims.entity.Role">
        SELECT * FROM role WHERE login_name = #{id};
    </select>

    <select id="findRoleByLoginName" resultType="org.ycm.sims.entity.Role">
        SELECT * FROM role WHERE login_name = #{loginName};
    </select>

    <update id="updatePassword">
        UPDATE role SET login_password = #{loginPassword} WHERE login_name = #{loginName};
    </update>

    <insert id="createRole">
        INSERT INTO role
          (login_name, login_password, create_id, role_type)
        VALUES
          (#{loginName}, #{loginPassword}, #{createId}, #{roleType})
    </insert>

    <update id="cancelRole">
        UPDATE role SET role_status = 1 WHERE id = #{id}
    </update>

    <update id="resetPassword">
        UPDATE role SET login_password = #{loginPassword} WHERE id = #{id}
    </update>

</mapper>