<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ycm.sims.dao.RoleDao">
    <select id="findRoleByLoginName" resultType="org.ycm.sims.entity.Role">
        SELECT * FROM role WHERE login_name=#{loginName};
    </select>
    <!--<insert id="createTeac"-->
</mapper>