<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ycm.sims.dao.RoleDao">

    <resultMap id="roleList" type="org.ycm.sims.entity.Role">
        <id column="id" property="id" />
        <result column="login_name" property="loginName" />
        <result column="login_password" property="loginPassword" />
        <result column="create_id" property="createId" />
        <result column="role_type" property="roleType" />
        <result column="role_status" property="roleStatus" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!--<select id="findRoleById" resultType="org.ycm.sims.entity.Role">-->
        <!--SELECT * FROM role WHERE login_name = #{id};-->
    <!--</select>-->

    <select id="findRoleByLoginName" resultType="org.ycm.sims.entity.Role">
        SELECT * FROM role WHERE login_name = #{loginName}
    </select>

    <update id="updatePassword">
        UPDATE role SET login_password = #{loginPassword} WHERE login_name = #{loginName}
    </update>

    <insert id="createRole">
        INSERT INTO role
          (login_name, login_password, create_id, role_type)
        VALUES
          (#{loginName}, #{loginPassword}, #{createId}, #{roleType})
    </insert>

    <update id="cancelRole">
        UPDATE role SET role_status = 1 WHERE id = #{id}
    </update>

    <update id="resetPassword">
        UPDATE role SET login_password = #{loginPassword} WHERE id = #{id}
    </update>

    <select id="findRole" resultMap="roleList">
        SELECT * FROM role WHERE
          <if test="loginName != null and loginName != ''">
              login_name = #{loginName} AND
          </if>
              role_type = #{roleType}
              AND role_status = 0
    </select>

    <select id="roleCount" resultType="Integer">
        SELECT count(*) FROM role WHERE
        <if test="loginName != null and loginName != ''">
            login_name = #{loginName} AND
        </if>
            role_type = #{roleType}
            AND role_status = 0
    </select>
    <select id="findRoleById" resultType="org.ycm.sims.entity.Role">
        SELECT * FROM role WHERE id = #{id}
    </select>

</mapper>