<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ycm.sims.dao.SystemDao">
    <insert id="addRecord">
        INSERT INTO record
          (login_name, table_name, key_id, update_column, update_value, original_value
           <if test="type != null and type != ''">
              ,type
           </if>
           )
        VALUES
          (#{loginName}, #{tableName}, #{keyId}, #{updateColumn}, #{updateValue}, #{originalValue}
            <if test="type != null and type != ''">
              , #{type}
            </if>
          )
    </insert>
    <insert id="addMenu">
        INSERT INTO menu
        (name, modular, teacher_display_1, teacher_display_2, student_display, url, create_id)
        VALUES
        (#{name}, #{modular}, #{teacherDisplay1}, #{teacherDisplay2}, #{studentDisplay}, #{url}, #{createId})
    </insert>
    <update id="updateMenu">
        UPDATE menu
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="modular != null and modular != ''">
                modular = #{modular},
            </if>
            <if test="teacherDisplay1 != null">
                teacher_display_1 = #{teacherDisplay1},
            </if>
            <if test="teacherDisplay2 != null">
                teacher_display_2 = #{teacherDisplay2},
            </if>
            <if test="studentDisplay != null">
                student_display = #{studentDisplay},
            </if>
            <if test="url != null and url != ''">
                url = #{url},
            </if>
        </trim>
        WHERE id = #{id}
    </update>
    <delete id="deleteMenu">
        DELETE FROM menu WHERE id = #{id}
    </delete>
    <select id="recordCount" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM record
    </select>

    <resultMap id="record" type="org.ycm.sims.entity.Record">
        <id column="id" property="id" />
        <result column="login_name" property="loginName" />
        <result column="table_name" property="tableName" />
        <result column="key_id" property="keyId" />
        <result column="update_column" property="updateColumn" />
        <result column="update_value" property="updateValue" />
        <result column="original_value" property="originalValue" />
        <result column="type" property="type" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <select id="recordList" resultMap="record">
        SELECT * FROM record
        <if test="id != null and id != ''">
          WHERE id = #{id}
        </if>
    </select>
    <select id="findMenuById" resultType="org.ycm.sims.entity.Menu">
        SELECT * FROM menu WHERE id = #{id}
    </select>
    <select id="menuCount" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM menu
        <if test="id != null and id != ''">
            WHERE id = #{id}
        </if>
    </select>
    <resultMap id="menu" type="org.ycm.sims.entity.Menu">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="modular" property="modular" />
        <result column="teacher_display_1" property="teacherDisplay1" />
        <result column="teacher_display_2" property="teacherDisplay2" />
        <result column="student_display" property="studentDisplay" />
        <result column="url" property="url" />
        <result column="createId" property="createId" />
        <result column="create_time" property="createTime" />
    </resultMap>
    <select id="menuList" resultMap="menu">
        SELECT * FROM menu
        <if test="id != null and id != ''">
            WHERE id = #{id}
        </if>
    </select>
    <select id="menuTree" resultMap="menu">
        SELECT * FROM menu
          <where>
              <if test="teacherDisplay1 != null">
                  teacher_display_1 = #{teacherDisplay1}
              </if>
              <if test="teacherDisplay2 != null">
                  teacher_display_2 = #{teacherDisplay2}
              </if>
              <if test="studentDisplay != null">
                  student_display = #{studentDisplay}
              </if>
          </where>
    </select>
</mapper>