<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ycm.sims.dao.SystemDao">
    <insert id="addRecord">
        INSERT INTO record
          (login_name, table_name, key_id, update_column, update_value, original_value
           <if test="type != null and type != ''">
              ,type
           </if>
           )
        VALUES
          (#{loginName}, #{tableName}, #{keyId}, #{updateColumn}, #{updateValue}, #{originalValue}
            <if test="type != null and type != ''">
              , #{type}
            </if>
          )
    </insert>
    <select id="recordCount" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM record
    </select>

    <resultMap id="record" type="org.ycm.sims.entity.Record">
        <id column="id" property="id" />
        <result column="login_name" property="loginName" />
        <result column="table_name" property="tableName" />
        <result column="key_id" property="keyId" />
        <result column="update_column" property="updateColumn" />
        <result column="update_value" property="updateValue" />
        <result column="original_value" property="originalValue" />
        <result column="type" property="type" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <select id="recordList" resultMap="record">
        SELECT * FROM record
        <if test="id != null and id != ''">
          WHERE id = #{id}
        </if>
    </select>
</mapper>